


.cinza-claro {
  color: #868ba1;
}

.branco {
  color: #fff;
}

th.titulo-tabela {
	font-weight: 700!important;
}

.marginT15 {
	margin-top: 15px;
}

.marginT20 {
	margin-top: 20px;
}

.marginT70 {
	margin-top: 70px;
}

a.link-branco {
	color: #868ba1;
}

a.link-branco:hover {
	text-decoration: underline;
}

.padding12 {
	padding: 12px;
}

#login-wrapper {
	height: 480px!important;
}

a.disabled {
    pointer-events: none;
}

.tx-35 {
	font-size: 35px!important;
}

input#password {
	margin-bottom: 15px;
}

.links-senha-voltar {
	text-align: center;
}