
/*Cores*/

.cinza-claro {
  color: #868ba1;
}

.branco {
  color: #fff;
}




/*///////////////////////////////*/

/*Tabelas Estilos*/
/*.com-padding-top {
    padding-top: 100px;
}
.alert-success {
    width: 420px;
    position: absolute;
    top: 80px;
}
.sem-padding {
    padding: 0 4px;
}
.d-flex {
    display: flex;
}
.d-flex input,  .d-flex a {
    position: relative;
}
.large {
    font-size: 78px;
    color: #809db1;
}
#form-delete-posts {
    margin-top: -3px;
}
.bt-novo {
   padding: 7px 7px;
   float: right;
   margin: -5px 32px 5px;
}
.com-margin {
    margin-right: 3px;
}
.com-margin-top {
    margin-top: 3px;
}
.vertical-middle td {
    vertical-align: middle;
}
th.titulo-tabela {
    background: transparent!important;
    border-bottom: 2px solid #2f3e46!important;
}

div#ascrail2000 {
  display: none;
}*/