
/*Cores*/

.cinza-claro {
  color: #868ba1;
}

.cinza-rodape {
  color: #828f97;
}

.branco {
  color: #fff;
}

.cor-icones {
  color: #809db1;
}

/*///////////////////////////////*/

th.titulo-tabela {
	font-weight: 700!important;
}

.marginT15 {
	margin-top: 15px;
}

.marginT20 {
	margin-top: 20px;
}

.marginT70 {
	margin-top: 70px;
}

a.link-branco {
	color: #868ba1;
}

a.link-branco:hover {
	text-decoration: underline;
}

.padding12 {
	padding: 12px;
}

#login-wrapper {
	background-color: rgba(16, 16, 16, 0.7);
	height: 520px!important;
}

a.disabled {
    pointer-events: none;
}

.tx-35 {
	font-size: 35px!important;
}

input#password {
	margin-bottom: 15px;
}

.links-senha-voltar {
	text-align: center;
}

/*///////////////////////////////*/

/*Tabelas Estilos*/
.com-padding-top {
    padding-top: 100px;
}
.alert-success {
    width: 420px;
    position: absolute;
    top: 80px;
}
.sem-padding {
    padding: 0 4px;
}
.d-flex {
    display: flex;
}
.d-flex input,  .d-flex a {
    position: relative;
}
.large {
    font-size: 78px;
    color: #809db1;
}
#form-delete-posts {
    margin-top: -3px;
}
.bt-novo {
   float: right;
   margin-right: 32px;
}
.com-margin {
    margin-right: 3px;
}
.com-margin-top {
    margin-top: 3px;
}
.vertical-middle td {
    vertical-align: middle;
}
th.titulo-tabela {
    background: transparent!important;
    border-bottom: 2px solid #2f3e46!important;
}